body.dark-theme {
    color: #f2f3f4!important;
}

h1 {
    color: #f1f1f1!important;
}

p {
    color: #f2f3f4!important;
}

.menu {
    border-right: 0px!important;
    border-left: 1px solid!important;
}

.logo__cursor {
    background: #00FF00!important;
}